<html>

<head>

</head>

<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul class="sideContainer">
            <li class="has-subnav">
                <i></i>
                <span class="nav-text" style="font-weight: bolder;">
                    Usuario: {{username}}
                </span>
            </li>
            <li class="has-subnav">
                <i></i>
                <span class="nav-text" style="font-weight: bolder;">
                    Rol: {{rol}}
                </span>
            </li>
            <li>
                <a [routerLink]="['/perfil']">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                        Mi Perfil
                    </span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/gestion']">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>
            <!-- REGISTRO DE PERSONAS Y LISTADO -->
            <li id="personal" class="has-subnav" *ngIf="rol === 'Administrador'">
                <i class="fa fa-pencil fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    PERSONAL
                </span>
            </li>
            <li id="verper" class="has-subnav" style="height: 30px;" *ngIf="rol === 'Administrador'">
                <a [routerLink]="['/listausu']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Personal
                    </span>
                </a>
            </li>
            <!-- ASISTENCIA -->
            <li class="has-subnav">
                <i class="fa fa-calendar fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    ASISTENCIA
                </span>
            </li>
            <li class="has-subnav" style="height: 30px;" *ngIf="rol === 'Administrador'">
                <a [routerLink]="['/listaasistencia']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Asistencia
                    </span>
                </a>
            </li>

            <li class="has-subnav" style="height: 30px;">
                <a [routerLink]="['/miasistencia']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Mi Asistencia
                    </span>
                </a>
            </li>
            <!-- PERMISOS -->
            <li class="has-subnav">
                <i class="fa fa-check fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    PERMISOS
                </span>
            </li>
            <li class="has-subnav" style="height: 30px;">
                <a [routerLink]="['/listamispermisos']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Mis Permisos
                    </span>
                </a>
            </li>
            <li id="aprobarpermisos" class="has-subnav" style="height: 30px;"
                *ngIf="rol === 'Administrador' || rol ==='Jefe de Unidad'">
                <a [routerLink]="['/aprobarpermisos']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Aprobar Permisos
                    </span>
                </a>
            </li>
            <li id="tipopermiso" class="has-subnav" style="height: 30px;" *ngIf="rol === 'Administrador'">
                <a [routerLink]="['/listatipopermiso']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Tipo de Permiso
                    </span>
                </a>
            </li>
            <li id="tipoformulario" class="has-subnav" style="height: 30px;" *ngIf="rol === 'Administrador'">
                <a [routerLink]="['/listatipoformulario']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Tipo de Formulario
                    </span>
                </a>
            </li>
            <!-- PROCESOS Y SUB -->
            <li id="procesos" class="has-subnav" *ngIf="rol === 'Administrador'">
                <i class="fa fa-book fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    PROCESOS Y SUBP.
                </span>
            </li>
            <li id="ingresarpro" class="has-subnav" style="height: 30px;" *ngIf="rol === 'Administrador'">
                <a [routerLink]="['/listasub-procesos']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Procesos
                    </span>
                </a>
            </li>
            <!--ZONALES-->
            <li id="zonales" class="has-subnav" *ngIf="rol === 'Administrador'">
                <i class="fa fa-building fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    ZONALES
                </span>
            </li>
            <li id="verzonales" class="has-subnav" style="height: 30px;" *ngIf="rol === 'Administrador'">
                <a [routerLink]="['/listazonales']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Zonales
                    </span>
                </a>
            </li>
            <!-- INSTITUCIONES -->
            <li id="Instituciones" class="has-subnav" *ngIf="rol === 'Administrador'">
                <i class="fa fa-file fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    INSTITUCIONES
                </span>
            </li>
            <li id="ingresarinst" class="has-subnav" style="height: 30px;" *ngIf="rol === 'Administrador'">
                <a [routerLink]="['/listainstituciones']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Instituciones
                    </span>
                </a>
            </li>
            <!-- FUNCIONES -->
            <li id="funciones" class="has-subnav" *ngIf="rol === 'Administrador'">
                <i class="fa fa-envelope fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    FUNCIONES
                </span>
            </li>
            <li id="ingresarfun" class="has-subnav" style="height: 30px;" *ngIf="rol === 'Administrador'">
                <a [routerLink]="['/listaFun']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Funciones
                    </span>
                </a>
            </li>

            <!--horario-->
            <li id="horarios" class="has-subnav" *ngIf="rol === 'Administrador'">
                <i class="fa fa-clock-o fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    Horarios
                </span>
            </li>

            <li id="verhorarios" class="has-subnav" style="height: 30px;" *ngIf="rol === 'Administrador'">
                <a [routerLink]="['/Horarios']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Horarios
                    </span>
                </a>
            </li>
            <!--Feriados-->
            <li id="feriados" class="has-subnav" *ngIf="rol === 'Administrador'">
                <i class="fa fa-flag fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    Feriados
                </span>
            </li>

            <li id="verferiados" class="has-subnav" style="height: 30px;" *ngIf="rol === 'Administrador'">
                <a [routerLink]="['/listaferiados']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Feriados
                    </span>
                </a>
            </li>
            <!-- VALOR POR HORA -->
            <li id="otrasfun" class="has-subnav" *ngIf="rol === 'Administrador'">
                <i class="fa fa-cog fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    OTRAS FUNCIONES
                </span>
            </li>
            <li id="valor" class="has-subnav" style="height: 30px;" *ngIf="rol === 'Administrador'">
                <a [routerLink]="['/listavalor']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Valor Por Hora
                    </span>
                </a>
            </li>
            <li id="periodo" class="has-subnav" style="height: 30px;" *ngIf="rol === 'Administrador'">
                <a [routerLink]="['/listaPeri']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Periodos
                    </span>
                </a>
            </li>
            <li id="periodo" class="has-subnav" style="height: 30px;">
                <a [routerLink]="['/aboutus']">
                    <span class="nav-text" style="padding-left: 60px;">
                        Sobre Nosotros
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</body>

</html>