<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet"
        href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
</head>

<div class="containerside">
    <div style="border-radius: 15px;">

        <app-sidebar></app-sidebar>
    </div>
    <div>

        <body class="profile-page">

            <app-header></app-header>


            <div class="d-flex flex-column justify-content-center w-100 h-50">

                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 style="text-align: center;     margin-bottom: 170px;
                    width: 100%; font-size: 72px; color: white;">TABLA DE FUNCIONES</h1>
                </div>
            </div>
            <div class="main main-raised">
                <div class="profile-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 ml-auto mr-auto">
                                <div class="profile">
                                    <div class="containerregre">
                                        <div></div>
                                        <div><button class="cta" routerLink="/gestion">
                                                <span class="hover-underline-animation">Menu Principal</span>
                                                <svg viewBox="0 0 46 16" height="10" width="30"
                                                    xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
                                                    <path transform="translate(30)"
                                                        d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                                        data-name="Path 10" id="Path_10"></path>
                                                </svg>
                                            </button></div>
                                    </div>
                                </div>
                                <div class="containertabla" style="width: 100%;">

                                    <div>
                                        <div class="searchBox">
                                            <input class="searchInput" type="text" name="" placeholder="Por Nombre"
                                                [(ngModel)]="searchString" (input)="searchFunciones(searchString, 1)">
                                        </div>
                                    </div>
                                    <div
                                        style="display: flex;    justify-content: center;  padding-bottom: 10px;   align-items: center;     height: 100%;">
                                        <div class="radio-inputs">
                                            <label class="radio">
                                                <input type="radio" name="radio" value=1
                                                    (change)="loadFuncionesByEstado(1)">
                                                <span class="name">Activo</span>
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="radio" value=0
                                                    (change)="loadFuncionesByEstado(0)">
                                                <span class="name">Inactivo</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="Btn3" (click)="openCrearFuncion()">Crear Funciones
                                            <svg class="svg" viewBox="0 0 20 20" width="40px" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M20 18L14 18M17 15V21M4 21C4 17.134 7.13401 14 11 14C11.695 14 12.3663 14.1013 13 14.2899M15 7C15 9.20914 13.2091 11 11 11C8.79086 11 7 9.20914 7 7C7 4.79086 8.79086 3 11 3C13.2091 3 15 4.79086 15 7Z"
                                                    stroke="#000000" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </button>
                                    </div>
                                    <div> <button class="Btn2" (click)="downloadExcel()">Generar Excel
                                            <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="5 0 30 48"
                                                width="80px" height="48px">
                                                <path fill="#4CAF50"
                                                    d="M41,10H25v28h16c0.553,0,1-0.447,1-1V11C42,10.447,41.553,10,41,10z" />
                                                <path fill="#FFF"
                                                    d="M32 15H39V18H32zM32 25H39V28H32zM32 30H39V33H32zM32 20H39V23H32zM25 15H30V18H25zM25 25H30V28H25zM25 30H30V33H25zM25 20H30V23H25z" />
                                                <path fill="#2E7D32" d="M27 42L6 38 6 10 27 6z" />
                                                <path fill="#FFF"
                                                    d="M19.129,31l-2.411-4.561c-0.092-0.171-0.186-0.483-0.284-0.938h-0.037c-0.046,0.215-0.154,0.541-0.324,0.979L13.652,31H9.895l4.462-7.001L10.274,17h3.837l2.001,4.196c0.156,0.331,0.296,0.725,0.42,1.179h0.04c0.078-0.271,0.224-0.68,0.439-1.22L19.237,17h3.515l-4.199,6.939l4.316,7.059h-3.74V31z" />
                                            </svg>
                                        </button></div>
                                </div>
                                <div style="width: 100%; margin-top: 50px;">
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="job-table">
                                            <thead className="theadTab">
                                                <tr class="text-center" style="background-color: aquamarine;">
                                                    <th class="tipo" scope="col">ID FUNCIÓN</th>
                                                    <th class="tipo" scope="col">NOMBRE</th>
                                                    <th class="tipo" scope="col">EDITAR</th>
                                                    <th class="tipo" scope="col">ACCIÓN</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center tableBody">
                                                <tr key=key *ngFor="let pro of listaFunciones">
                                                    <td>{{pro.funId}}</td>
                                                    <td>{{pro.funNombre}}</td>
                                                    <td class="tdTbl">
                                                        <button role="button" class="button-name2"
                                                            (click)="openUpdateFuncion(pro.funNombre,pro.funId)">
                                                            <svg class="svgTbl" xmlns="http://www.w3.org/2000/svg"
                                                                height="1.25em" viewBox="0 0 512 512">
                                                                <path
                                                                    d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" />
                                                            </svg>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button role="button" class="button-name2"
                                                            *ngIf="pro.funEstado ===1"
                                                            (click)="updateEstFuncion(pro.funId,0)">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="svgTbl"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5zm13-3H1v2h14zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                                                            </svg>
                                                        </button>
                                                        <button role="button" class="button-name3"
                                                            *ngIf="pro.funEstado ===0"
                                                            (click)="updateEstFuncion(pro.funId,1)">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="svgTbl"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022" />
                                                            </svg>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div style="height: 20px;"></div>
                    </div>
                </div>
            </div>

        </body>
    </div>
</div>