<nav class="navbar navbar-custom-bg navbar-color-on-scroll navbar-transparent navbar-expand-lg" color-on-scroll="100"
    id="sectionsNav">
    <div class="container2">

        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/" target="_blank" style="font-size: 14px; padding-bottom: 50px;">
                    <img src="assets/img/escudo.png" width="22%" alt="">
                    Secretaría de Educación Superior, Ciencia, Tecnología e Innovación</a>
            </div>
        </div>

        <div>
            <app-despegablemene></app-despegablemene>
        </div>

    </div>

</nav>