<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet"
        href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
</head>

<div class="containerside">
    <div style="border-radius: 15px;">

        <app-sidebar></app-sidebar>
    </div>

    <div>

        <body class="profile-page">

            <app-header></app-header>

            <div class="d-flex flex-column justify-content-center w-100 h-50">

                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 style="text-align: center;     margin-bottom: 170px;
                        width: 100%; font-size: 80px; color: white;">TABLA DE REGISTRO DE USUARIOS</h1>
                </div>
            </div>
            <div class="main main-raised">
                <div class="profile-content">
                    <div class="container">
                        <div class="row">

                            <div style="width: 100%; margin-top: 20px; margin-bottom: 50px;">
                                <h1 style="text-align: center; font-weight: bolder; ">
                                    {{mode==='edit-user'?'Formulario de Edició de Usuario':
                                    mode==='edit-profile'?'Editar Mi Perfil':'Formulario de Registro de Usuario'}}
                                </h1>
                            </div>

                            <form name="registroUsuario">

                                <div class="contentForm">
                                    <div style="width: 100%; padding-bottom: 15px;">

                                        <h2 style="text-align: center; font-weight: bolder;">Datos personales</h2>
                                    </div>
                                    <div class="fileConainer">
                                        <div class="input-container">
                                            <label for="name" class="name">FOTO *:</label>
                                            <p-fileUpload name="demo[]" class="custom-file-upload"
                                                url="https://www.primefaces.org/cdn/api/upload.php"
                                                (onSelect)="onUpload($event)" [multiple]="false" accept="image/*"
                                                [maxFileSize]="1000000">
                                                <ng-template pTemplate="content">
                                                    <ul *ngIf="uploadedFiles.length">
                                                        <li *ngFor="let file of uploadedFiles">
                                                            <img [src]="usuario.foto" alt="Imagen" *ngIf="usuario.foto"
                                                                style="height: 80px;" />

                                                            {{ file.name }} - {{
                                                            file.size }} bytes
                                                        </li>
                                                    </ul>
                                                </ng-template>
                                            </p-fileUpload>
                                        </div>
                                    </div>
                                    <section class="layout">

                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">CÉDULA: *</label>
                                                <input placeholder="Ingresa el CI del Usuario" type="text" class="input"
                                                    name="perCedula" (keydown)="validarNumeros($event)"
                                                    [(ngModel)]="persona.perCedula">
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">NOMBRES: *</label>
                                                <input placeholder="Ingresa el Nombre del Usuario" type="text"
                                                    class="input" name="perNombre" (keydown)="validarLetras($event)"
                                                    [(ngModel)]="persona.perNombre">
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">APELLIDOS: *</label>
                                                <input placeholder="Ingresa el Apellido del Usuario" type="text"
                                                    class="input2" name="perApellido" (keydown)="validarLetras($event)"
                                                    [(ngModel)]="persona.perApellido">
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div class="input-container">
                                            <label for="name" class="name">FECHA DE NACIMIENTO: *</label>
                                            <input class="input" type="date" name="perFechaNacimiento"
                                                placeholder="Fecha de nacimiento" name="perFechaNacimiento"
                                                [(ngModel)]="persona.perFechaNacimiento">
                                            <div class="underline"></div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">PROVINCIA: *</label>
                                                <select id="provincias" name="provincias" class="input2"
                                                    style="color: #777;" (change)="cargarCiudades()"
                                                    [(ngModel)]="selectProvincia.proId">
                                                    <option value="0">Seleccione una Provincia</option>
                                                    <option *ngFor="let provincia of listProvincias"
                                                        [value]="provincia.proId">
                                                        {{ provincia.proNombre }}
                                                    </option>

                                                </select>
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">CIUDAD: *</label>
                                                <select id="ciudades" name="ciudades" class="input2"
                                                    style="color: #777;" [(ngModel)]="persona.ciuId.ciuId">
                                                    <option value="0">Seleccione una Ciudad</option>
                                                    <option *ngFor="let ciudad of listCiudades" [value]="ciudad.ciuId">
                                                        {{ ciudad.ciuNombre }}
                                                    </option>

                                                </select>
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">TELÉFONO: *</label>
                                                <input placeholder="Ingresa el número de teléfono" type="text"
                                                    class="input" name="perTelefono" (keydown)="validarNumeros($event)"
                                                    [(ngModel)]="persona.perTelefono">
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">DIRECCIÓN: *</label>
                                                <input placeholder="Ingresa la dirección del domicilio" type="text"
                                                    class="input" (keydown)="validarLetrasNum($event)"
                                                    name="perDireccion" [(ngModel)]="persona.perDireccion">
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="contentForm" *ngIf="rol ==='Administrador'">
                                    <div style="width: 100%; padding-bottom: 15px;">

                                        <h2 style="text-align: center; font-weight: bolder;">Datos Institucionales</h2>
                                    </div>
                                    <section class="layout">
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">TIPO DE INSTITUCIÓN: *</label>
                                                <select id="tipInstitucion" name="tipInstitucion" class="input2"
                                                    [disabled]="mode==='edit-profile'" style="color: #777;"
                                                    [(ngModel)]="tipInstitucionSelected.tipId"
                                                    (change)="getInstitucionByTipId()">
                                                    <option value="0">Selecciona el tipo de institución</option>
                                                    <option *ngFor="let tipo of listaTipoInstitucion"
                                                        [value]="tipo.tipId">
                                                        {{tipo.tipNombre}}
                                                    </option>
                                                </select>
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">INSTITUCIÓN: *</label>
                                                <select id="institucion" name="institucion" class="input2"
                                                    [disabled]="mode==='edit-profile'" style="color: #777;"
                                                    [(ngModel)]="usuario.insId.instId">
                                                    <option value="0">Selecciona tu institución</option>
                                                    <option *ngFor="let inst of listaInstituciones"
                                                        [value]="inst.instId">
                                                        {{inst.instNombre}}
                                                    </option>
                                                </select>
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">PROCESO - ZONA: *</label>
                                                <select id="procesos" name="procesos" class="input2"
                                                    [disabled]="mode==='edit-profile'" style="color: #777;"
                                                    [(ngModel)]="selectProceso.procId"
                                                    (change)="getSubprocesosByProcesoId()">
                                                    <option value="0">Selecciona el proceso</option>
                                                    <option *ngFor="let proceso of listaProcesos"
                                                        [value]="proceso.procId">
                                                        {{ proceso.procNombre }}
                                                    </option>
                                                </select>
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">SUBPROCESO - DEPARTAMENTO:</label>
                                                <select id="subprocesos" name="subprocesos" class="input2"
                                                    style="color: #777;" [(ngModel)]="usuario.subId.subId">
                                                    <option value="0">Selecciona el subproceso</option>
                                                    <option *ngFor="let subproceso of listaSubprocesos"
                                                        [value]="subproceso.subId">
                                                        {{subproceso.subNombre }}
                                                    </option>
                                                </select>
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">FUNCIÓN: *</label>
                                                <select id="funcion" name="funcion" class="input2" style="color: #777;"
                                                    [disabled]="mode==='edit-profile'"
                                                    [(ngModel)]="usuario.funId.funId">
                                                    <option value="0">Selecciona la función del usuario</option>
                                                    <option *ngFor="let funcion of listFunciones"
                                                        [value]="funcion.funId">
                                                        {{funcion.funNombre }}
                                                    </option>
                                                </select>
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">RÉGIMEN: *</label>
                                                <select id="regimen" name="regimen" class="input2" style="color: #777;"
                                                    [disabled]="mode==='edit-profile'"
                                                    [(ngModel)]="usuario.regId.regId">
                                                    <option value="0">Seleccione un régimen</option>
                                                    <option *ngFor="let regimen of listaregiemen"
                                                        [value]="regimen.regId">
                                                        {{regimen.regNombre }}
                                                    </option>
                                                </select>
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">ZONAL: *</label>
                                                <select id="zonal" name="zonal" class="input2" style="color: #777;"
                                                    [disabled]="mode==='edit-profile'"
                                                    [(ngModel)]="usuario.zonId.zonId">
                                                    <option value="0">Seleccione la zonal</option>
                                                    <option *ngFor="let zonal of listaZonales" [value]="zonal.zonId">
                                                        {{zonal.zonNombre }}
                                                    </option>
                                                </select>
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">HORARIO DE TRABAJO: *</label>
                                                <select id="horario" name="horario" class="input2" style="color: #777;"
                                                    [disabled]="mode==='edit-profile'"
                                                    [(ngModel)]="usuario.horId.horId">
                                                    <option value="0">Seleccione el horario</option>
                                                    <option *ngFor="let horario of listaHorarios"
                                                        [value]="horario.horId">
                                                        Entrada: {{horario.horHoraIngresoDia}} - Salida:
                                                        {{horario.horHoraSalidaTarde}}
                                                    </option>
                                                </select>
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name" style="padding-bottom: 10px;">JEFE DE
                                                    UNIDAD:</label>

                                                <div class="containercheck">
                                                    <label class="check">
                                                        <input type="checkbox" id="mostrarJefe"
                                                            [disabled]="mode==='edit-profile'"
                                                            (change)="toggleMostrarJefe()" [checked]="mostrarJefe" />
                                                        <div class="checkmark"></div>
                                                    </label>
                                                    <div *ngIf="mostrarJefe">
                                                        <select id="jefes" name="jefes" class="input2"
                                                            [disabled]="mode==='edit-profile'" style="color: #777;"
                                                            [(ngModel)]="usuario.usuIdJefe">
                                                            <option value="0">Seleccione un jefe de unidad
                                                            </option>
                                                            <option *ngFor="let jefe of listaJefes"
                                                                [value]="jefe.usuId">
                                                                {{ jefe.funId.funNombre+': '+
                                                                jefe.usuPerId.perNombre
                                                                +' '+
                                                                jefe.usuPerId.perApellido}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="contentForm">
                                    <div style="width: 100%; padding-bottom: 15px;">

                                        <h2 style="text-align: center; font-weight: bolder;">Datos de Usuario</h2>
                                    </div>
                                    <section class="layout">

                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">NOMBRE DE USUARIO: *</label>
                                                <input placeholder="Ingresar un Nombre de Usuario" type="text"
                                                    class="input" name="usuNombreUsuario"
                                                    (keydown)="validarLetrasNum($event)"
                                                    [(ngModel)]="usuario.usuNombreUsuario">
                                                <div class="underline"></div>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">CORREO ELECTRÓNICO: *</label>
                                                <input placeholder="Ingresar un Correo Electrónico" type="text"
                                                    class="input" name="usuCorreo" [(ngModel)]="usuario.usuCorreo">
                                                <div class="underline"></div>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">CONTRASEÑA: *</label>
                                                <input placeholder="Ingresar una contraseña" type="password"
                                                    class="input2" name="usuContrasena"
                                                    [(ngModel)]="usuario.usuContrasena">
                                                <div class="underline"></div>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">CONFIRMAR CONTRASEÑA: *</label>
                                                <input placeholder="Repita la contraseña" type="password" class="input2"
                                                    name="confirmarPass" [(ngModel)]="confirmarPass">
                                                <div class="underline"></div>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="input-container">
                                                <label for="idLector" class="idLector">IDENTIFICADOR ÚNICO (ID) A USAR
                                                    EN EL LECTOR: *</label>
                                                <input placeholder="Ingrese el id del lector" type="text" class="input2"
                                                    name="usuIdLector" [(ngModel)]="usuario.usuIdLector">
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="input-container">
                                                <label for="name" class="name">DESIGNAR ROL: *</label>
                                                <select id="roles" name="roles" class="input2" style="color: #777;"
                                                    [(ngModel)]="usuario.rolId.rolId"
                                                    [disabled]="mode==='edit-profile'">
                                                    <option value="0">Seleccione una Ciudad</option>
                                                    <option *ngFor="let rol of listRoles" [value]="rol.rolId">
                                                        {{ rol.rolNombre }}
                                                    </option>

                                                </select>
                                                <div class="underline"></div>
                                            </div>
                                        </div>


                                    </section>
                                    <!--
                                    <div class="fileConainer">
                                        <div class="input-container">
                                            <label for="name" class="name">TITULO (ejemplo de subida de
                                                archivos):</label>
                                            <p-fileUpload name="demo[]" class="custom-file-upload"
                                                url="https://www.primefaces.org/cdn/api/upload.php"
                                                (onSelect)="uploadFile($event)" [multiple]="false"
                                                accept="application/pdf" [maxFileSize]="1000000">
                                                <ng-template pTemplate="content">
                                                    <ul *ngIf="uploadedFiles.length">
                                                        <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{
                                                            file.size }} bytes</li>
                                                    </ul>
                                                </ng-template>
                                            </p-fileUpload>
                                        </div>
                                    </div>-->
                                </div>

                                <div class="contentForm">

                                    <div style="width: 100%; margin-top: 30px;">
                                        <div
                                            style="width: 100%; align-content: center; text-align: center; margin-top: 20px;">
                                            <button class="learn-more" style="margin-bottom: 40px; width: 50%;"
                                                (click)="editeMode? editar() : registrar()">
                                                <span class="circle" aria-hidden="true">
                                                    <span class="icon arrow"></span>
                                                </span>
                                                <span class="button-text">
                                                    {{editeMode? 'Editar Usuario' : 'Registrar Nuevo Usuario'}}
                                                </span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div style="height: 20px;"></div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>

        </body>
    </div>
</div>