<div style="width: 100%;">
    <section class="container">

        <div style="margin-top: 20px; margin-bottom: 50px">
            <h1 style="text-align: center; font-weight: bolder;">Dirección de Talento Humano</h1>
            <h2 style="text-align: center; font-weight: bolder;">Formulario de Licencias y Permisos</h2>

        </div>
        <div>
            <img src="assets/img/gobierno.png" alt="" width="70%">
        </div>
    </section>
</div>

<section class="container">

    <div>
    </div>
    <div>
    </div>
</section>

<div style="width: 100%;">
    <h2 style="text-align: center; font-size: 20px; font-weight: bolder;">DATOS DEL SERVIDOR/EMPLEADO</h2>
</div>

<section class="container4">
    <div>
        <h2 style="text-align: center; font-size: 20px; font-weight: bolder;">MOTIVO</h2>

    </div>
    <div>
        <h2 style="text-align: center; font-size: 20px; font-weight: bolder;">FECHA DE PERMISOS</h2>

    </div>
    <div>
        <h2 style="text-align: center; font-size: 20px; font-weight: bolder;">EN CASO DE HORAS</h2>
        <label style="text-align: center; font-size: 14px; color: #556de1;">(Seleccione la hora, los minutos son
            opcionales)</label>
    </div>
</section>

<section class="container4">
    <div>
        <div class="input-container">
            <label for="name" class="name">CUAL ES EL MOTIVO DE SU SOLICITUD:</label>
            <select id="motivo" name="motivo" class="input2" style="color: #777;" [(ngModel)]="permiso.motId.motId">
                <option value="0">Selecciona una opción:</option>
                <option *ngFor="let mot of listamotivos" [value]="mot.motId">
                    {{mot.motNombre}}
                </option>
            </select>
            <div class="underline"></div>
        </div>
    </div>
    <div>

        <section class="container3">

            <div class="input-container">
                <label for="name" class="name">DESDE:</label>
                <input style="padding: 10px;
                    font-size: 16px;
                    border: none;
                    border-radius: 4px;
                    background-color: #f1f1f1;
                    color: #777;
                    width: 100%;
                    outline: none;" placeholder="Enter your name" type="date" class="input"
                    [(ngModel)]="permiso.permFechaInicio" [min]="validarFecha()">
                <div class="underline"></div>
            </div>
            <div class="input-container">
                <label for="name" class="name">HASTA:</label>
                <input style="    padding: 10px;
                font-size: 16px;
                border: none;
                border-radius: 4px;
                background-color: #f1f1f1;
                color: #777;
                width: 100%;
                outline: none;" placeholder="Enter your name" type="date" class="input"
                    [(ngModel)]="permiso.permFechaFin" [min]="validarFecha()">
                <div class="underline"></div>
            </div>
        </section>

    </div>

    <div>

        <section class="container3">

            <div class="input-container">
                <label for="name" class="name">DESDE (hh:mm):</label>
                <input style="padding: 10px;
                    font-size: 16px;
                    border: none;
                    border-radius: 4px;
                    background-color: #f1f1f1;
                    color: #777;
                    width: 100%;
                    outline: none;" type="time" class="input" [(ngModel)]="permiso.permHorasInicio">
                <div class="underline"></div>
            </div>
            <div class="input-container">
                <label for="name" class="name">HASTA (hh:mm):</label>
                <input style="padding: 10px;
                    font-size: 16px;
                    border: none;
                    border-radius: 4px;
                    background-color: #f1f1f1;
                    color: #777;
                    width: 100%;
                    outline: none;" type="time" class="input" [(ngModel)]="permiso.permHorasFin">
                <div class="underline"></div>
            </div>

        </section>

    </div>
</section>

<section class="container5">
    <div>
        <h2 style="text-align: center; font-size: 20px; font-weight: bolder;">OBSERVACIONES O JUSTIFICATIVOS</h2>

    </div>
    <div>
        <h2 style="text-align: center; font-size: 20px; font-weight: bolder;">DIAS SOLICITADOS</h2>

    </div>
</section>

<section class="container5">

    <div>
        <div class="input-container">
            <textarea style="    padding: 10px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            background-color: #f1f1f1;
            color: #333;
            width: 100%;
            outline: none;" id="comentario" name="comentario" rows="4" cols="50"
                placeholder="Detalla el motivo de tu solicitud" [(ngModel)]="permiso.permObservacion">
            </textarea>
            <div class="underline"></div>
        </div>
    </div>
    <div>
        <section class="container3" style="gap: 1px;">

            <div>
                <div class="input-container">
                    <label for="dias" class="name">DÍAS:</label>
                    <input placeholder="Días" type="text" class="input" [value]="calcularDiferenciaDias()" readonly>
                </div>

            </div>
            <div>
                <div class="input-container">
                    <label for="horas" class="name">HORAS:</label>
                    <input placeholder="Horas" type="text" class="input" [value]="calcularDiferenciaHoras()" readonly>
                </div>
            </div>

            <div>
                <div class="input-container">
                    <label style="font-size: 14px; text-align: justify; color: #556de1; font-weight: bolder;" for="name"
                        class="name"> Valor a descontar por el tiempo solicitado
                    </label>
                    <input placeholder="valor a descontar" type="text" class="input"
                        [value]="calcularResultadoMultiplicado()" readonly>
                </div>
            </div>
            <div>

            </div>
        </section>
    </div>
    <div>

    </div>
</section>

<section class="container6">

    <div>
        <div class="input-container">
            <label for="name" class="name">TIPO DE PERMISO: *</label>
            <select id="regimen" name="regimen" class="input2" style="color: #777;" [(ngModel)]="permiso.tiPeId.tiPeId">
                <option value="0">Selecciona el tipo de permiso</option>
                <option *ngFor="let tipper of listatipopermisos" [value]="tipper.tiPeId">
                    {{tipper.tiPeNombre}}
                </option>
            </select>
            <div class="underline"></div>
        </div>
    </div>
    <div>
        <div class="input-container">
            <label for="name" class="name">TIPO DE FORMULARIO: *</label>
            <select id="regimen" name="regimen" class="input2" style="color: #777;" [(ngModel)]="permiso.tiFoId.tiFoId">
                <option value="0">Selecciona el tipo de formulario</option>
                <option *ngFor="let tifo of listatipoformulario" [value]="tifo.tiFoId">
                    {{tifo.tiFoNombre}}
                </option>
            </select>
            <div class="underline"></div>
        </div>
    </div>
</section>

<div style="width: 100%;">
    <h3 style="text-align: justify; font-size: 18px;">Todo formulario de permiso / licencia, deberá ser presentado a la
        Dirección de Talento Humano con su respectiva justificación, máximo en los tres días posteriores a la emisión
        del mismo, caso contrario el formulario será nulo y se descontará directamente de vacaciones.</h3>
</div>

<div style="width: 100%; margin-top: 30px;">
    <table border="1" style="width: 90%; margin: 0 auto;">
        <tr>
            <td colspan="5" style="text-align: center; font-weight: bolder;">Documentacion de la Direcccion de Talento
                Humano</td>
        </tr>
        <tr>
            <td>Fecha de Desarollo:</td>
            <td>jun-21</td>
            <td>Responsable de Revisión</td>
            <td>DTH</td>
            <td>Version Formato</td>
        </tr>
        <tr>
            <td>Fecha Ultima Revisión</td>
            <td>jun-21</td>
            <td>Codigo del Formato</td>
            <td>PC-CGAF,RRHH,2-F,01</td>
            <td>V-1.0</td>
        </tr>
    </table>
</div>

<div style="width: 100%; margin-top: 30px;">

    <img src="assets/img/sello.jpeg" alt="" width="100%">
</div>
<section style="margin-top: 40px; display: flex;
justify-content: center; /* Centrar horizontalmente */
align-items: center;">

    <button class="learn-more" style="margin-bottom: 40px; width: 50%;" (click)="savePermiso()">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <span class="button-text">Finalizar Solicitud</span>
    </button>
</section>