<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet"
        href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
</head>

<div class="profile-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="profile">

                </div>
                <div class="containertabla" style="width: 100%;">
                    <div>
                        <div class="searchBox">
                            <input class="searchInput" type="text" name="" placeholder="Por Nombre">
                            <button class="searchButton" onclick="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29"
                                    fill="none">
                                    <g clip-path="url(#clip0_2_17)">
                                        <g filter="url(#filter0_d_2_17)">
                                            <path
                                                d="M23.7953 23.9182L19.0585 19.1814M19.0585 19.1814C19.8188 18.4211 20.4219 17.5185 20.8333 16.5251C21.2448 15.5318 21.4566 14.4671 21.4566 13.3919C21.4566 12.3167 21.2448 11.252 20.8333 10.2587C20.4219 9.2653 19.8188 8.36271 19.0585 7.60242C18.2982 6.84214 17.3956 6.23905 16.4022 5.82759C15.4089 5.41612 14.3442 5.20435 13.269 5.20435C12.1938 5.20435 11.1291 5.41612 10.1358 5.82759C9.1424 6.23905 8.23981 6.84214 7.47953 7.60242C5.94407 9.13789 5.08145 11.2204 5.08145 13.3919C5.08145 15.5634 5.94407 17.6459 7.47953 19.1814C9.01499 20.7168 11.0975 21.5794 13.269 21.5794C15.4405 21.5794 17.523 20.7168 19.0585 19.1814Z"
                                                stroke="white" stroke-width="3" stroke-linecap="round"
                                                stroke-linejoin="round" shape-rendering="crispEdges">
                                            </path>
                                        </g>
                                    </g>
                                    <defs>
                                        <filter id="filter0_d_2_17" x="-0.418549" y="3.70435" width="29.7139"
                                            height="29.7139" filterUnits="userSpaceOnUse"
                                            color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix">
                                            </feFlood>
                                            <feColorMatrix in="SourceAlpha" type="matrix"
                                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha">
                                            </feColorMatrix>
                                            <feOffset dy="4"></feOffset>
                                            <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                                            <feComposite in2="hardAlpha" operator="out"></feComposite>
                                            <feColorMatrix type="matrix"
                                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0">
                                            </feColorMatrix>
                                            <feBlend mode="normal" in2="BackgroundImageFix"
                                                result="effect1_dropShadow_2_17"></feBlend>
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_17"
                                                result="shape"></feBlend>
                                        </filter>
                                        <clipPath id="clip0_2_17">
                                            <rect width="28.0702" height="28.0702" fill="white"
                                                transform="translate(0.403503 0.526367)"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div>
                        <button class="Btn3">Refrescar Tabla
                            <svg class="svg" viewBox="0 0 20 20" width="40px" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20 18L14 18M17 15V21M4 21C4 17.134 7.13401 14 11 14C11.695 14 12.3663 14.1013 13 14.2899M15 7C15 9.20914 13.2091 11 11 11C8.79086 11 7 9.20914 7 7C7 4.79086 8.79086 3 11 3C13.2091 3 15 4.79086 15 7Z"
                                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div> <button class="Btn2">Generar Excel
                            <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="5 0 30 48" width="80px"
                                height="48px">
                                <path fill="#4CAF50"
                                    d="M41,10H25v28h16c0.553,0,1-0.447,1-1V11C42,10.447,41.553,10,41,10z" />
                                <path fill="#FFF"
                                    d="M32 15H39V18H32zM32 25H39V28H32zM32 30H39V33H32zM32 20H39V23H32zM25 15H30V18H25zM25 25H30V28H25zM25 30H30V33H25zM25 20H30V23H25z" />
                                <path fill="#2E7D32" d="M27 42L6 38 6 10 27 6z" />
                                <path fill="#FFF"
                                    d="M19.129,31l-2.411-4.561c-0.092-0.171-0.186-0.483-0.284-0.938h-0.037c-0.046,0.215-0.154,0.541-0.324,0.979L13.652,31H9.895l4.462-7.001L10.274,17h3.837l2.001,4.196c0.156,0.331,0.296,0.725,0.42,1.179h0.04c0.078-0.271,0.224-0.68,0.439-1.22L19.237,17h3.515l-4.199,6.939l4.316,7.059h-3.74V31z" />
                            </svg>
                        </button>
                    </div>

                </div>
                <div style="width: 100%; margin-top: 50px;">
                    <label for="name" class="name">Subir archivo:</label>
                    <p-fileUpload name="demo[]" class="custom-file-upload"
                        url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="uploadFile($event)"
                        [multiple]="false" accept=".xlsx, .dat, .xls" [maxFileSize]="10000000" [auto]="false">
                        <ng-template pTemplate="toolbar">
                            <div class="py-3">Cargar el archivo generado por el biometrico (.xlsx / .dat)</div>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{
                                    file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>

                <div style="width: 100%; margin-top: 50px;">
                    <div style="height: 50px; font-weight: bolder; margin-bottom: 40px;">
                        <h2 style="text-align: center; font-weight: bolder;">TABLA DE SUBIDA DE ARCHIVOS</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover" id="job-table">
                            <thead className="theadTab">
                                <tr class="text-center" style="background-color: aquamarine;">
                                    <th class="tipo" scope="col">No. ARCHIVO</th>
                                    <th class="tipo" scope="col">NOMBRE DE ARCHIVO</th>
                                    <th class="tipo" scope="col">FECHA | HORA</th>
                                    <th class="tipo" scope="col">CANT. REGISTROS</th>
                                    <th class="tipo" scope="col">USUARIO</th>
                                </tr>
                            </thead>
                            <tbody class="text-center tableBody">
                                <tr key={key} *ngFor="let file of historialAechivos">
                                    <td>{{file.indice}}</td>
                                    <td>{{file.nombreArchivo}}</td>
                                    <td>{{file.fechaArchivo | date:'dd-MM-yyyy hh:mm'}}</td>
                                    <td>{{file.cantidadRegistros}}</td>
                                    <td>{{file.userId.username}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div style="height: 60px;"></div>
    </div>
</div>